@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: square;
  margin-left: 1rem;
}

a {
  color: black;
}

p{
  margin-bottom: 1rem;
}

/* name section */
.name {
  background: #363c47;
  padding: 2rem;
  color: #fff;
}

.name h1 {
  font-size: 3rem;
}

/* bottom section */
.grid {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.body {
  margin-bottom: 1.5rem;
}

.body h4 {
  display: inline-block;
}

.body .date {
  display: block;
}

.grey-text, .body a { 
  color: grey;
}

.body ul {
  margin: 0.5rem 0 0.5rem 1rem;  
}

.grid__container{
  margin-bottom: 1.5rem;
}

.heading {
  border-bottom: 1px solid lightgray;
  margin-bottom: 0.5rem;
}

/* left grid */
main {
  padding: 2rem 2rem 0;
}

/* right grid */
aside {
  background: #f3f3f3;
  /* height: calc(100vh - 210px); */
  height: 100%;
  padding:2rem 1rem;
}

.contact__container{
  margin: 0.8rem 0;
}